*{
  margin: 0px;
  padding: 0px;
}
@font-face{font-family:'dillen';
  src:url('fonts/Dillen2.ttf') format('truetype'),
}
body{
  font-family: Dillen;
}
::-webkit-scrollbar{
  width: 0px;
}
.head{
  display: flex;    
  background-color: #0c0c0d;
  padding-top: 20px;
  padding-bottom: 20px;    
  width: 100%;

  box-shadow: #000000 0px 2px 5px;


  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}
.nothing{
  width: 65px;
  height: 65px;
}
.b-heed{
  color: #ffffff;
  display: flex;
  margin-right: auto;
  margin-left: 5%;    
}
.b-heed p{
  line-height: 20px;
  margin-right: 20px;
}
.head h2{
  color: #d4e3ff;
  line-height: 20px;
  margin-left: auto;
  margin-right: 5%;
}
.top-box{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 20px 0px 20px;
}
.part-box-a{
  background-color: #ff0033;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  margin-right: auto;
  margin-bottom: 10px;
}
.top-box p{
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  margin: 5px;
}
.top-box img{
  width: 50px;
  height: 50px;
  margin-left: auto;
  border-bottom-right-radius: 5px;
  filter: drop-shadow(#000000 0px 0px 1px);
}
.part-txt{
  margin-top: 10px;
  margin-left: 20px;
  color: #ffffff;
}
.box-vid img{  
  width: 100%;
  border-radius: 10px;
  box-shadow: #0000009f 0px 1px 10px;
}
.box-vid{
  text-align: center;
  margin: 20px;
}  
.titel-vid-a{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
}
.titel-vid-b{
  text-decoration: none;
  color: #a0a0a0;
  font-size: 10px;
  line-height: 20px;
}
.txt-box-vid{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  text-shadow: #0000009f 0px 1px 10px;
}
